<style>
    body{
      background-image: url(Background/648858f7cc5f0fe5a3f97fe7.jpg);  
    }
    .accound:hover{
    background-color: aqua;
    padding: 2%;
    text-decoration: none;
    }
</style>

<H1 style="text-align: center;margin-top: 2%; font-style:italic;color: red;">Welcom to Admin Cart</H1>

<section>
    <div class="container align-items-center mt-5">
        <div class="row ml-1" style="display: flex;align-items: center;justify-content: center;">
             <div class="col-md-5">

                
                

                
      <form action="admin/login"  method="post" style="border: rgba(53, 52, 52, 0.473) 2px solid;padding: 10%; padding-bottom: 10%; text-align: center;
      border-radius: 15px; background-color: rgba(0, 0, 0, 0.493);">
 {{#if logerr}}
            <h1 class="text-warning">{{logerr}}</h1>
            {{/if}}
            <h1 class

         <h2 class="text-center text-warning mb-4">Login</h2>
        

        <div class="form-group">
          <input type="email" class="form-control" name="logemail" id="loginemail" placeholder="email" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="logpassword" placeholder="password" />
        </div>
        <div class="form-group mt-5" style="justify-content: space-between;display: flex; align-items: center;">
            <div></div>
        <input type="submit"  class="btn btn-primary" value="Log In" />
        </div>

        
      </form>


    </div>
        
             </div>
        
        </div>
    </div>
</section>
