<style>
    body{
      background-image: url(Background/648858f7cc5f0fe5a3f97fe7.jpg);  
    }
    .accound:hover{
    background-color: aqua;
    padding: 2%;
    text-decoration: none;
    }
</style>

<H1 style="text-align: center;margin-top: 2%; font-style:italic;">Welcom to Shopping Cart</H1>

<section>
    <div class="container align-items-center mt-3">
        <div class="row ml-1" style="display: flex;align-items: center;justify-content: center;">
             <div class="col-md-6">

                
                

                
      <form action="/siginup"  method="post" style="border: rgba(53, 52, 52, 0.473) 2px solid;padding: 10%; padding-bottom: 10%; text-align: center;padding-top: 5%;
      border-radius: 15px; background-color: rgba(0, 0, 0, 0.493);">

         <h2 class="text-center mb-4 " style="color: red;">Register Here</h2>
        
         <div class="form-group ">
          <input type="name" class="form-control" name="name" id="name" placeholder="Enter Your Name " required="true"/>
        </div>

        <div class="form-group ">
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email" required="required"/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Enter Your Password" required="true" />
        </div>
        <div class="form-group mt-5" style="justify-content: space-between;display: flex; align-items: center;">
            <a href="/login" class="accound" style="color: beige;">Log In?</a>
        <input type="submit" class="btn btn-primary" value="Register" />
        </div>

        
      </form>


    </div>
        
             </div>
        
        </div>
    </div>
</section>
